body{
		
	background-color:white;
				color:#00AEEF;
	
	border:1px solid blue;
	display:grid;
	width:100vw;
	height:100vh;
	margin:0px;
	
	
}
.grid-container{
	
	margin: 0px ;
	
	display:grid;
	justify-content:space-between;
	text-align:center;
	
	
}
.flex-container{
	
	display:inline-flex;
	display:flex;
	flex-direction: row;
	justify-content: center;
	text-align:center;
	
	

}
.flex-item{
	display:inline;
	flex-grow: 1;
	size:10px;
	text-align:center;
	position: relative;
	
	
	


	}
.navigation-container
{
	display:flex;
	height:50px;
	text-align:center;
	margin:0px;
	position:relative;
		
	
}
.menu{
	margin:0px;
	padding-top:15px;
	padding-bottom:5px;
	border:1px solid blue;
	position:relative;
	grid-template-columns:repeat(5,20%);
}

.grid-item{
	display:inline-block;
	text-align:center;

}

.home-container
{	margin: 0px;
	display:flex;
	width:100%;
	height:100%;
	
}
.menu2{
	padding-top:15px;
	padding-bottom:5px;
	margin:0px;
	border:1px solid blue;
	position:relative;
	height:300px;
	width:50%;
	
}
div.flex-item.menu2.image{
	background-image:url("https://media.rtv.net/image/201203/full/academia_de_studii_economice_ase_13485200.jpg");
	background-size:cover;
}
button {
    color: #00AEEF;
    border-radius: 10px;
	margin-top:170px;
	bottom: 15px; top:60px; left: 70%; height: 40px; width:120px;
}

button:hover {
    background-color: #00AEEF;
    color: white;
	
}
.team-container
{
	
	display:inline-flex;
	width:90%;
	justify-content: space-between;
	margin:10px;
	
}
#first:hover {
    background-color: #00AEEF;
	color:white;
	border:2px solid blue;
}
#second:hover {
    background-color: #0000FF;
	color:white;
	border:2px solid blue;
}
#third:hover {
    background-color: #FF00FF;
	color:white;
	border:2px solid blue;
}
.flex-item.menu3{
	border-radius: 50%;
	width:80px;
	height:80px;
	padding-top:70px;
	padding-bottom:5px;
	border:2px solid blue;
	margin-top: 50px;
	margin-left:80px;
	
}
.about-container
{
	display:grid;
	margin: 15px;
	grid-template-columns:25% 25% 25% 25%;
	width:90%;
	position:center;
	justify-content:center;
	
}
.menu4{
	border-radius: 20%;
	padding-top:40px;	
	padding-bottom:5px;
	border:2px solid blue;
	margin-top: 30px;
	margin-left:60px;
	height:50px;
	

}
.about-container:hover{
	
}

#first2:hover {
    background-color: #00AEEF;
	color:white;
	border:2px solid blue;
}
#second2:hover {
    background-color: #00AEEF;
	color:white;
	border:2px solid blue;
}
#third2:hover {
    background-color: #00AEEF;
	color:white;
	border:2px solid blue;
}
#fourth2:hover {
    background-color: #00AEEF;
	color:white;
	border:2px solid blue;
}
.contact-container
{
	bottom: 0px;
    left: 0px;
	display:grid;
	width:100%;
	text-align:center;
	position:relative;
	font-size:25px;
	/*border-top:2px solid blue;*/
	margin-top: 30px;
}


